.authenticationError {
    background-color: #f3a82f; /* Amber/golden color */
    color: #1a1a1a; /* Dark text color */
    padding: 16px 20px;
    border-radius: 4px;
    width: auto;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin: 10px;
    display: none;
}

.netflixInputText {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background: black;
    border-color: grey;
    outline-color: grey;
    border-style: solid;
    border-width: thin;
    outline-width: thin;
    outline-offset: 1px;
    margin-top: 10px;
    width: 280px;
    height: 65px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

.background {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/assets/login-movie-collage.jpg") no-repeat center center;
    z-index: -1;
    background-size: cover;

}


.button {
    display: block;
    font-weight: bold;
    background: red;
    color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    font-size: 20px;
    height: 50px;
    border-radius: 3px;
    box-sizing: border-box;
}


.errorTextInput {
    /*font-weight: bold;*/
    display: block;
    position: relative;
    padding-right: 20px;
    color: red;
    font-size: 20px;
    top: 5px;
    left: 45px;
    box-sizing: border-box;
}


.logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: Bebas Neue, sans-serif;
    margin-bottom: 20px;
    color: #e50914;
    position: relative; /* Change to absolute positioning */
    top: 10px; /* Move it down 20px from the top */
    left: 20px; /* Move it 20px from the left */
}

.button:hover {
    cursor: pointer;
}

.button:active {
    opacity: 0.7;
}


.blackBoxWrapper {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    min-height: 450px;
    height: auto;
    color: white;
    left: 500px;
    top: 200px;
}


.registerTextLink {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: grey;
    margin-top: 20px;
    margin-left: 5px;
}

.registerLink {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: white;
}

.registerLink:hover {
    text-decoration: underline;
}


.netflixInputTextPlaceholder {
    display: block;
    position: absolute;
    cursor: text;
    font-family: 'Arial', 'sans-serif';
    color: white;
    height: auto;
    left: 60px;
    bottom: 20px;
    font-size: 20px; /* Set initial font size for the transition */
    transition: 0.3s ease; /* Define properties to animate */
    user-select: none;
}

.netflixInputTextPlaceholderActive {
    display: block;
    position: absolute;
    cursor: text;
    font-family: 'Arial', 'sans-serif';
    color: white;
    height: auto;
    left: 60px;
    bottom: 45px;
    font-size: 13px; /* Set initial font size for the transition */
    transition: 0.3s ease; /* Define properties to animate */
    user-select: none;
}

.signInText {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}
