.header {
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.signIn {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;

    color: black;
    text-decoration: none;;
    margin-right: 40px;
    margin-left: auto;
    margin-top: 60px;
}

.signIn:hover {
    text-decoration: underline;
}

.registerTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;

}

.registerDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


.logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: Bebas Neue, sans-serif;
    margin-bottom: 20px;
    color: #e50914;
    position: relative; /* Change to absolute positioning */
    top: 10px; /* Move it down 20px from the top */
    left: 20px; /* Move it 20px from the left */
}


.netflixInputText {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: black;
    border-color: grey;
    outline-color: black;
    border-style: solid;
    border-width: thin;
    outline-width: thin;
    outline-offset: 1px;
    margin-top: 10px;
    width: 450px;
    height: 60px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

.netflixInputTextPlaceholder {
    display: block;
    position: absolute;
    bottom: 15px;
    font-size: 20px;
    left: 90px;
    cursor: text;
    font-family: 'Arial', sans-serif;
    transition: 0.3s ease;
}

.netflixInputTextPlaceholderActive {
    display: block;
    position: absolute;
    bottom: 35px;
    font-size: 13px;
    left: 80px;
    font-family: 'Arial', sans-serif;
    transition: 0.3s ease;
}

.errorTextInput {


    display: block;
    box-sizing: border-box;
    position: relative;
    color: red;

    left: 75px;
    font-size: 18px;
}

.button {
    display: block;
    font-weight: bold;
    background: red;
    color: white;
    border-width: thin;
    width: 450px;
    font-size: 30px;
    height: 70px;
    margin: 10px auto;
    border-radius: 3px;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    opacity: 0.7;
}
