body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  font-family: Bebas Neue, sans-serif;
  margin-bottom: 20px;
  color: #e50914;
  position: relative; /* Change to absolute positioning */
  top: 20px; /* Move it down 20px from the top */
  left: 20px; /* Move it 20px from the left */
}